.Navegation {
  background: rgb(231, 159, 26);
  text-align: center;
  margin: auto;
}
.searchButton {
  background: rgba(255, 255, 0, 0.555);
  border-color: aliceblue;
  border-radius: 10px;
  transition: all, 1s;
}
.searchButton:hover {
  background: yellow;
  border-color: orange;
}

.Icon {
  color: whitesmoke;
  font-size: 1em;
  height: 100%;
  width: 1.5em;
  transition: all, .5scd;
}
.Icon:hover {
  color: rgba(245, 245, 245, 0.767)
}